@font-face {
  font-family: "iconfont"; /* Project id 3706651 */
  src: url('iconfont.woff2?t=1666230224183') format('woff2'),
       url('iconfont.woff?t=1666230224183') format('woff'),
       url('iconfont.ttf?t=1666230224183') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxi:before {
  content: "\e616";
}

.icon-shangpin:before {
  content: "\e617";
}

.icon-dianpu:before {
  content: "\e618";
}

.icon-huiyuan:before {
  content: "\e619";
}

.icon-yingxiao:before {
  content: "\e61a";
}

